<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
<link th:href="@{bootstrap3/css/bootstrap.min.css}"
	rel="stylesheet"/>
<link th:href="@{bootstrap3/css/bootstrap-theme.min.css}"
	rel="stylesheet"/>
</head>
<body>
	<div class="pannel pannel-primary">
		<div class="pannel-heading">
			<h2 class="pannel-title">访问model</h2>
		</div>
		<div class="pannel-body">
			<span th:text="${singlePerson.name}"></span>
		</div>
	</div>
	<div>
		<div class="pannel pannel-primary">
			<div class="pannel-heading">
				<h2 class="pannel-title">列表</h2>
			</div>
			<div class="pannel-body">
				<ul class="list-group">
					<li class="list-group-item" th:each="person:${people}"><span
						th:text="${person.name}"></span> <span th:text="${person.age}"></span>
						<button class="btn" onclick="'getName(\''+${person.name}+'\');'">获得名字</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		th:src="@{bootstrap3/js/jquery-1.11.2.min.js}"></script>
	<script type="text/javascript"
		th:src="@{bootstrap3/js/bootstrap.min.js}"></script>
	<script th:inline="javascript">
	var single=[[${singlePerson}]];
	console.log(single.name+"/"+single.age)
	function getName(name){
		console.log(name);
	}
	</script>


</body>
</html>